<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.n3.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <variable name="logDirectory" value="${basedir}/log" />

  <targets>
    <!-- Debug级别日志 -->
    <target xsi:type="File"
            name="debugTarget"
            fileName="${var:logDirectory}/debug/${shortdate}.log"
            maxArchiveDays="30"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />

    <!-- Info级别日志 -->
    <target xsi:type="File"
            name="infoTarget"
            fileName="${var:logDirectory}/info/${shortdate}.log"
            maxArchiveDays="30"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />

    <!-- Warn级别日志 -->
    <target xsi:type="File"
            name="warnTarget"
            fileName="${var:logDirectory}/warn/${shortdate}.log"
            maxArchiveDays="30"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />

    <!-- Error级别日志 -->
    <target xsi:type="File"
            name="errorTarget"
            fileName="${var:logDirectory}/error/${shortdate}.log"
            maxArchiveDays="30"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />

    <!-- Fatal级别日志 -->
    <target xsi:type="File"
            name="fatalTarget"
            fileName="${var:logDirectory}/fatal/${shortdate}.log"
            maxArchiveDays="30"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugTarget" />
    <logger name="*" minlevel="Info" writeTo="infoTarget" />
    <logger name="*" minlevel="Warn" writeTo="warnTarget" />
    <logger name="*" minlevel="Error" writeTo="errorTarget" />
    <logger name="*" minlevel="Fatal" writeTo="fatalTarget" />
  </rules>
</nlog>